[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
datetime = "*"
pyarango = "*"
tweepy = "*"
vadersentiment = "*"
keyboard = "*"
configobj = "*"
pandas = "*"
flask = "*"
sparqlwrapper = "*"
bootstrap-flask = "*"
flask-wtf = "*"
wtforms = "*"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.10"
