<!doctype html>
<html lang="en">
<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    {{ bootstrap.load_js() }}
    {% endblock %}

    <title>Twitter Watcher</title>
    {% endblock %}
</head>
<body>
{% from 'bootstrap5/utils.html' import render_messages %}
{% from 'bootstrap5/form.html' import render_form, render_field, render_form_row %}
{% from 'bootstrap5/nav.html' import render_nav_item, render_breadcrumb_item %}

<form role="form" method="POST" action="/?form=collection-start" enctype="multipart/form-data" novalidate>
    {{ button_form.csrf_token }}
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #435D9A; display:block; height: 70px">
        <div style="float: left">
        <!-- <div style="width: 30px"></div>  Logo Placeholder -->
        <div class="navbar-nav mr-auto" style="margin-left:30px">
            {{ render_field(button_form.start_field, button_style="success", button_size="lg") }}
            <div style="width: 10px"></div>
            {{ render_field(button_form.start_savepoint_field, button_style="success", button_size="lg") }}
        </div>
        </div>
        <div style="margin-left: 10px; margin-right: 10px; float: right">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#downloadModal">
                Download Results
            </button>
        </div>
    </nav>

    <div style="margin: 10px 50px 10px 30px; ">
        <!-- <div style="display:flex; justify-content:center">
        <div style="display:flex; "> -->
        {{ render_messages(dismissible=True) }}
        <!-- </div>
        </div> -->
        <p style="font-weight:bold; font-size:large; background-color: #B7BDBA; padding-left: 10px; border-radius: 4px; border-color: #A4A7A6">
            Twitter API Token</p>
        <div style="margin-left: 10px">
            <p style="font-size: 18px; color: #4f8ab5">For collection you need your Twitter API token. The watcher can either get it from the file <em>bearer_token.txt</em> in
                the watchers folder or you can enter it here.</p>
            {{ render_field(button_form.token_switch_field) }}
            <div class="col-mb-3" id="token_field_cell">
                {{ render_field(button_form.token_field) }}
            </div>
        </div>
        <p style="font-weight:bold; font-size:large; background-color: #B7BDBA; padding-left: 10px; border-radius: 4px; border-color: #A4A7A6">
            People CSV</p>
        <div style="margin-left: 10px">
            <p style="font-size: 18px; color: #4f8ab5">Upload an Excel spreadsheet or csv file with the people you want to watch here. For each person you should have a row like: <em>Name,WikidataID,TwitterHandle</em></p>
            <div style="display: flex">
                {{ render_field(button_form.people_field) }}
            </div>
        </div>
        <p style="font-weight:bold; font-size:large; background-color: #B7BDBA; padding-left: 10px; border-radius: 4px; border-color: #A4A7A6">
            Tweet Filters</p>
        <div style="margin-left: 10px">
            <p style="font-size: 18px; color: #4f8ab5">Add some (comma-separated) filters to constrain the tweets the watcher searches for. Hashtags must begin with <em>#</em>, mentions with <em>@</em>.</p>
            {{ render_field(button_form.filter_words_field) }}
            {{ render_field(button_form.filter_emojis_field) }}
            {{ render_field(button_form.filter_hashtags_field) }}
            {{ render_field(button_form.filter_mentions_field) }}
        </div>

        <p style="font-weight:bold; font-size:large; background-color: #B7BDBA; padding-left: 10px; border-radius: 4px; border-color: #A4A7A">
            Collection Timeframe</p>
        <div style="margin-left: 10px">
            <p style="font-size: 18px; color: #4f8ab5">Specify the date to start collection from and the date to end
                collection at. You can also specify whether you want to collect all data in bulk or whether it should be
                done via time steps. If you don't want collection to end unless you manually stop it, flip the <em>No end date</em> sitch.
            </p>
            {{ render_field(button_form.no_end_date_field) }}
            <!-- Need to create row manually here to be able to hide both label and input of end_date_field-->
            <div class="row">
                <div class="col-md-2">
                    <div class="col-mb-3">
                        {{ render_field(button_form.start_date_field) }}
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="col-mb-3" id="end_date_field_cell">
                        {{ render_field(button_form.end_date_field) }}
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="col-mb-3">
                        {{ render_field(button_form.steps_field) }}
                    </div>
                </div>
            </div>
        </div>

        <p style="font-weight:bold; font-size:large; background-color: #B7BDBA; padding-left: 10px; border-radius: 4px; border-color: #A4A7A">
            Bot Detection & Sentiment Analysis</p>
        <div style="margin-left: 10px">
            <p style="font-size: 18px; color: #4f8ab5">Decide whether you want to gather the average bot response for
                tweets, i.e. an average of bot likelihood and maliciousness for the first 100 responders (reply/quote
                tweet/retweet) of the tweet. The analysis is done via the <a
                        href="https://milki-psy.dbis.rwth-aachen.de/bot-detector/" target="_blank">bot-detector</a> web application.
                This may increase collection time so use this at your own discretion.</p>
            {{ render_field(button_form.bot_detection_field) }}
            <p style="font-size: 18px; color: #4f8ab5">Decide whether you want to gather the sentiment of a tweet, i.e.
                if it is meant positively or negatively with -1 being most negative and 1 most positive. Sentiment
                analysis is done via the <a href="https://github.com/cjhutto/vaderSentiment" target="_blank">VADER</a> library, but the
                tweets need to be translated to be analyzed. For this it uses myMemory and due to rate limitations this can
                also increase collection time.</p>
            {{ render_field(button_form.sentiment_analysis_field) }}
        </div>

        <div style="height:20"></div>
        {{ render_field(button_form.submit_field) }}
        <!-- <div style="height:20px"></div>
         {{ render_field(button_form.start_field, button_style="success") }}-->
    </div>
    <script>
                function token_switching(token_switch) {
                  if (token_switch.checked) {
                    document.getElementById("token_field_cell").style.visibility = "hidden";
                  } else {
                    document.getElementById("token_field_cell").style.visibility = "visible";
                  }
                }
                function end_date_switching(end_date_switch) {
                  if (end_date_switch.checked) {
                    document.getElementById("end_date_field_cell").style.visibility = "hidden";
                    if(document.getElementById("steps_field").value == "0") {
                        const step_select = document.getElementById("steps_field")
                        step_select.value == "1"
                        step_select.selectedIndex = 1
                    }
                    document.getElementById("steps_field").children[0].disabled = true
                  } else {
                    document.getElementById("end_date_field_cell").style.visibility = "visible";
                    document.getElementById("steps_field").children[0].disabled = false
                  }
                }

                document.addEventListener('DOMContentLoaded', function() {
                    token_switching(document.getElementById("token-switch-field"))
                    end_date_switching(document.getElementById("end-date-switch-field"))
                });
    </script>
</form>

<div class="modal fade" id="downloadModal" tabindex="-1" aria-labelledby="downloadModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="downloadModalLabel">Download the Graph</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form role="form" method="POST" action="/?form=download" enctype="multipart/form-data" novalidate>
                <div class="modal-body">
                    <p style="font-size: 18px; color: #4f8ab5">Here you have the option to download the fetched graph
                        (or parts of it) in GraphML format. You can customize which time frame twitter
                        interactions should be considered. <br>You can also select whether additional information about
                        nodes and edges such as follower numbers or text of a tweet should be included.</p>
                    {{ download_form.csrf_token }}
                    {{ render_field(download_form.file_name_field) }}
                    {{ render_field(download_form.edge_kinds_retweets_field) }}
                    {{ render_field(download_form.edge_kinds_quotetweets_field) }}
                    {{ render_field(download_form.edge_kinds_mentions_field) }}
                    {{ render_field(download_form.edge_kinds_replies_field) }}
                    {{ render_field(download_form.edge_kinds_likes_field) }}
                    <div class="row">
                        <div class="col-md-5">
                            <div>
                                {{ render_field(download_form.start_date_field) }}
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div>
                                {{ render_field(download_form.end_date_field) }}
                            </div>
                        </div>
                    </div>

                    {{ render_field(download_form.node_info_field) }}
                    {{ render_field(download_form.edge_info_field) }}

                </div>
                <div class="modal-footer">
                    {{ render_field(download_form.submit_field) }}
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>